.logo-dropbox {
    width: 200px;
    height: 40px;

}

.flex-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    position: sticky;

}


.flex-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-right {
    gap: 40px;
    display: flex;
}

.banner-right button {
    background-color: #0060FF;
    padding: 5px 20px;
    bottom: 70px;
    border: none;
    color: white;

}

.color-back {
    background-color: #B4D0E6;
}

.title-principal {
    padding-top: 50px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.text-intro {
    text-align: left;
    width: 50%;
    padding-left: 40%;
}

.button-blue {
    background-color: #0060FF;
    padding: 5px 20px;
    bottom: 70px;
    border: none;
    margin: 0 auto;
    color: white;
}

.jumbo-img {
    width: 40%;
}

.bounce {
    padding: 20px;
}

.tab-professional {
    display: flex;
    flex-direction: column;
}

.flex-tab {
    display: flex;
    gap: 20px;
}

hr {
    width: 50px;


}