.logo-dropbox {
    width: 200px;
    height: 40px;

}

.flex-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    position: sticky;

}

.arrow {
    font-size: 40px;
    margin-top: 40px;
}

.flex-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-right {
    gap: 40px;
    display: flex;
}

.banner-right button {
    background-color: #0060FF;
    padding: 5px 20px;
    bottom: 70px;
    border: none;
    color: white;

}

.color-back {
    background-color: #B4D0E6;
}

.principal-desk {
    display: flex;
}

.title-principal {
    padding-top: 50px;
    text-align: center;
    width: 20%;
    margin: 0 auto;

}

.conteniner-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding-left: 40%;
    row-gap: 20px;
}



.button-blue {
    background-color: #0060FF;
    padding: 5px 20px;
    bottom: 70px;
    border: none;
    margin: 0 auto;
    color: white;
}

.jumbo-img {
    width: 40%;
}

.bounce {
    padding: 20px;
}

.tab-professional {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 15%;
    row-gap: 20px;

}

.conteiner-icon {
    border-bottom: 1px solid;
}

.visto {
    color: #0060FF;
    font-size: 20px;

}

.tab-advanced {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 15%;
    row-gap: 20px;
}

.tab-enterprise {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 15%;
    row-gap: 20px;
}

.flex-tab {
    display: flex;
    gap: 20px;
    justify-content: center;
}

hr {
    width: 50px;


}